/* Overall look of the website */
*{
    /* Let's get rid of all margins and padding */
    margin: 0em;
    padding: 0em;
}

html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
}

body {
    background-color: white;
    opacity: 1;

    /* Optional: Fade in on page load.  Comment out this code to disable the global page load animation */
    /* Note: Doesn't disable the portfolio fade in animations */
    opacity: 0;
    transition: opacity 3s, background-color 3s;
    animation-fill-mode: forwards;
    /* End optional: fade in on page load */
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 3em;
}

.navbutton, .navbuttonCurrentPage {
    width: 25%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.navbuttonCurrentPage {
    font-weight: bold;
}

/* Anchors */
a {
    color: #3f3f3f;
    text-decoration: none;
}

a.visited {
    color: #3f3f3f;
    text-decoration: none;
}

/* Social media icons */
.socialMediaIcon
{
    height: 1.5em;
    width: 1.5em;
}

/* Title block including photographer name and title */
.titleBlock{
    margin: 2em 2em 2em 2em;
    text-align: center;
}

.titleJD {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;

    /* Double space between letters and compensate for all browsers centering bug */
    letter-spacing: 1em;
    margin-right: -1em;
}

.titleJob {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3em;
    margin: 0.5em;

    /* Double space between letters and compensate for all browsers centering bug */
    letter-spacing: 0.5em;
    margin-right: -0.5em;
}

/* The website is built on cards */
.card, .imageCard {
    /* DO NOT REMOVE POSITION RELATIVE OR IT BREAKS ALL KINDS OF STUFF */
    position: relative;
    text-align: center;
    padding: 0em;
    border: 0em;
    margin: 0em;
    opacity: 1;
}

/* ================= EVERYTHING BELOW IS FOR THE FADE IN ANIMATION ==================== */
/* ================= COMMENT OUT THIS BLOCK TO REMOVE THE ANIMATION =================== */

/* This defines what the animation actually does, but not it's length or mode */
@keyframes imageCardFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.imageCard {
    animation-name: imageCardFadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

:root {
    /* # seconds before the overall animation is started */
    --delayBase: 0.2s;

    /* delay between each image */
    --delayBetween: 0.2s;
}

/* Don't change anything here, but add and subtract rows at the end as needed */
.imageCard:nth-of-type(1)  { animation-delay: calc(01 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(2)  { animation-delay: calc(02 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(3)  { animation-delay: calc(03 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(4)  { animation-delay: calc(04 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(5)  { animation-delay: calc(05 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(6)  { animation-delay: calc(06 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(7)  { animation-delay: calc(07 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(8)  { animation-delay: calc(08 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(9)  { animation-delay: calc(09 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(10) { animation-delay: calc(10 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(11) { animation-delay: calc(11 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(12) { animation-delay: calc(12 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(13) { animation-delay: calc(13 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(14) { animation-delay: calc(14 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(15) { animation-delay: calc(15 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(16) { animation-delay: calc(16 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(17) { animation-delay: calc(17 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(18) { animation-delay: calc(18 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(19) { animation-delay: calc(19 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(20) { animation-delay: calc(20 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(21) { animation-delay: calc(21 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(22) { animation-delay: calc(22 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(23) { animation-delay: calc(23 * var(--delayBetween) + var(--delayBase)); }
.imageCard:nth-of-type(24) { animation-delay: calc(24 * var(--delayBetween) + var(--delayBase)); }

/* ================= EVERYTHING ABOVE IS FOR THE FADE IN ANIMATION ==================== */

/* DOESN'T WORK  */
/* .grid-container {
    display: grid;
    z-index: 2;
} */

/* ==================================== MEDIA QUERY STUFF ===============================/

/* On tiny Screens, no gap or padding and only a single column */
@media only screen and (max-width : 639px) {
/* @media (max-width : 639px) { */
    /* FOR TESTING */
    /* body {
        background-color: blue;
    } */

    .grid-container {
        display: grid;
        gap: 0px;
        padding: 0px;
        grid-template-columns: 1;
        justify-content: center;
    }

    /* On tiny screens, we use 16 / 9 */
    .imageContainer169 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .imageContainer43 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .imageContainer916 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 9 / 16;
    }

    .XimageContainer169 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .XimageContainer43 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .XimageContainer916 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 9 / 16;
    }

}

/* BIG SCREENS */
@media only screen and (min-width : 640px) {

    /* For testing media queries */
    body {
        /* background-color: blue; */
    }

    /* On big screens, multiple columns with a gap and padding */
    .grid-container {
        display: grid;
        gap: 10px;
        padding: 10px;
    
        /* Auto = Dynamic # of columms */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* justify-content: center; */
    }

    /* On tiny screens, we use 16 / 9 */
    .imageContainer169 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .imageContainer43 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        /* object-position: 0% -30%; */
        /* object-position: -1000px; */
        /* aspect-ratio: 9 / 16; */
    }

    .imageContainer916 {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        object-position: 0% -30%;
        /* object-position: -1000px; */
        /* aspect-ratio: 9 / 16; */
    }

    .XimageContainer169 {
        max-width: 80%;
        height: auto;

        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }

    .XimageContainer43 {
        max-width: 80%;
        height: auto;

        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 4 / 3;
    }

    .XimageContainer916 {
        max-width: 40%;
        height: auto;

        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 9 / 16;
    }
}

/* Tiny screens in landscape mode ----------*/
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* Touch screens -- text is on hold and fades away */
@media (pointer : course){
    .fadingText {
        
    }
}

/* ================== MOUSE OVERLAY SUPPORT ============== */
/* HERE IS ONE OF MY TWO ANIMATIONS */

/* if no mouse (a touch screen device like a phone or tablet), the hidden overlay is disabled */
@media (pointer: coarse) {
    
    .hiddenOverlay {
        display: none;
    }

    .bottomleft {
        display: none;
    }
}

/* if mouse, the hidden overlay is enabled */
@media (pointer: fine) {

    /* Just for testing */
    /* body {
        background-color: green;
    } */

    .hiddenOverlay {
        /* Make sure overlay is the same height and width of the parent and same position */
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* Overlay is hidden by default and takes 2 seconds to appear */
        opacity: 0;
        transition: 2s;

    }

    .hiddenOverlay:hover {
        opacity: 0.8;
        transition: 2s;
    }

    .bottomleft {
        display: inline;
        position: absolute;
        bottom: 1em;
        left: 1em;
        padding: 0.5em 1em 0.5em 1em;
        color: white;
        background-color: #3f3f3f;
        /* background: rbga(128,0,0,.5); */
    }
}

/* ALL LANDSCAPE
@media (orientation: landscape) {
    .imageContainer {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 9 / 16;
        /* aspect-ratio: 16 / 9; */
    /* }
} */

/* ALL PORTRAIT
@media (orientation: portrait) {
    .imageContainer {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }
} */

/* @media (max-width: 799) { */

    /* CSS for images */
    /* .imageContainer {
        max-width: 100%;
        overflow: hidden;
        aspect-ratio: 9 / 16;
        object-fit: cover;
    } */
/* } */

/* @media (min-width: 800) { */

    /* CSS for images */
    /* .croppedImage {
        object-fit: cover;
        overflow: hidden;
        object-position: 0 0;
    } */

/* } */

