*{
    margin: 0;
    padding: 0;
}

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #afafaf;
    text-align: center;
}

body{
    /* padding: min(50px, 7%); */
    background-color: #cfcfcf;
    /* background-color: rgb(13, 13, 20); */

    /* padding: 20px; */
}

h1 {
    margin: 30px 0;
}

/* The website is built on cards */
.card {
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}


/* MEDIA QUERY */

/* On tiny Screens, no gap or padding and only a single column */
@media only screen and (min-width : 480px) {

    /* FOR TESTING */
    body {
        background-color: blue;
    }

    .grid-container {
        display: grid;
        gap: 0px;
        padding: 0px;
        grid-template-columns: 1;
        justify-content: center;
    }

    /* On tiny screens, we use 16 / 9 */
    .imageContainer {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }
}

/* BIG SCREENS */
@media only screen and (min-width : 640px) {

    /* For testing media queries */
    body {
        background-color: black;
    }

    /* On big screens, multiple columns with a gap and padding */
    .grid-container {
        display: grid;
        gap: 10px;
        padding: 10px;
    
        /* Auto = Dynamic # of columms */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
    }

    /* On big screens, we use 16 / 9 */
    .imageContainer {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }
}



/* Tiny screens in landscape mode ----------*/
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}


/* ALL LANDSCAPE
@media (orientation: landscape) {
    .imageContainer {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 9 / 16;
        /* aspect-ratio: 16 / 9; */
    /* }
} */

/* ALL PORTRAIT
@media (orientation: portrait) {
    .imageContainer {
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
    }
} */

/* @media (max-width: 799) { */

    /* CSS for images */
    /* .imageContainer {
        max-width: 100%;
        overflow: hidden;
        aspect-ratio: 9 / 16;
        object-fit: cover;
    } */
/* } */

/* @media (min-width: 800) { */

    /* CSS for images */
    /* .croppedImage {
        object-fit: cover;
        overflow: hidden;
        object-position: 0 0;
    } */

/* } */

